.leaflet-div-icon {
	background: transparent;
	border: none;
}

.leaflet-marker-icon .number {
	position: relative;
	top: -50px;
	left: 10px;
	font-size: 1.5em;
	font-weight: bold;
	width: 25px;
	text-align: center;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
	background-color: #A19861;
}

.leaflet-popup-content-wrapper a {
	color: white;
}